<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Layout</title>
</head>
<body>
    <div class="wrapper " id="home">
      <div class="header">
          <div class="container">
          <div class="row">
               <!--  <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="logo">
                    <img src="images/icons/logo.png">
                </div> 
            </div> -->
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="company-info">
                    <div class="company-info-item">
                    <div class="header-icon">
                            <img src="images/icons/phone.png" alt="">
                    </div>
              
                    <div class="header-info">
                                <h6><strong>+0 123-456-7890</strong></h6>
                                <p>We are open 9 am - 10pm</p>
                     </div>
                    </div>
                    <div class="company-info-item">
                            <div class="header-icon">
                                <img src="images/icons/mail.png" alt="">
                            </div>
                            <div class="header-info">
                                <h6><strong><a href="mailto:info@domain.com">info@domain.com</a></strong></h6>
                                <p>You can mail us</p>
                            </div>
                        </div>
               </div>
            </div>
          </div>
      </div>
    </div>
      <div class="navbar-content">
         <div class="slider">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>                        
                            </button>
                            <a class="navbar-brand" href="#">Rent For Sure</a>
                          </div>
                          
                          <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                              <li class="active"><a href="#">Home</a></li>
                              <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Services</a></li>
                                  <li><a href="#">Blog</a></li>
                                  <li><a href="#">Contact</a></li>
                                </ul>
                              </li>
                              <li><a href="#">Services</a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="#">Contact</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            </ul>
                          </div>
                          
                        </div>
                      </nav>
                      <div class="container-fluid" style="padding-left: 0;padding-right: 0;margin-top: -20px;">
                          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                        
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                        
                              <div class="item active">
                                <img  class="img img:responsive" src="images/home.jpeg" alt="Los Angeles" style="width:100%; opacity:1;height: 520px;">
                                <div class="carousel-caption" style="margin-top:-380px;text-align: center;font-size: 20px; text-justify: center;">
                                  <h3 style="margin-top:-50px;text-align: center;font-size: 20px;">Welcome to Shelter</h3>
                                  <h1>
                                      FIND YOUR DREAM HOUSE WITH US
                                  </h1>
                                  <p>
                      
                                      Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet
                                      contetur adipiscing elit, sed do eiusmod tempor incididunt
                                  </p>                
                                </div>
                              </div>
                        
                              <div class="item">
                                <img class="img img:responsive" src="images/h2.jpeg" alt="Chicago" style="width:100%;height: 520px;opacity:1;">
                                <div class="carousel-caption" style="margin-top:-380px;text-align:right;font-size: 20px;text-justify: right;">
                                  <h3>Welcome to Shelter</h3>
                                  <h1>
                                      FIND YOUR DREAM HOUSE WITH US
                                  </h1>
                                  <p>
                      
                                      Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet
                                      contetur adipiscing elit, sed do eiusmod tempor incididunt
                                      </p>
                                </div>
                              </div>
                            
                              <div class="item">
                                <img class="img img:responsive" src="images/home.jpeg" alt="New York" style="width:100%;height: 520px;">
                                <div class="carousel-caption"style="position:relative;top:-380px;text-align: left;font-size: 20px;text-justify:left;">
                                  <h3>Welcome to Shelter</h3>
                                  <h1>
                                      FIND YOUR DREAM HOUSE WITH US
                                  </h1>
                                  <p>
                      
                                      Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet
                                      contetur adipiscing elit, sed do eiusmod tempor incididunt
                                      </p>
                                </div>
                              </div>
                          
                            </div>
                        
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div>
         </div>
      </div>
      <section class="page-content">
          <div class="services-area pt-115 pb-60">
              <div class="container">
                   <div class="col-md-12">
                  <div class="row">
                     
                          
                   <h2>Available properties</h2>
<p></p>
<br>
  <div class="column">
    <div class="card">
      <img src="images/home.jpeg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
<!-- Available proerty end -->
                          </div>
                        </div>
                          <!--div class="col-md-3 col-sm-6 col-xs-12">
                              <div class="imgone"></div>
                              <div class="imgtwo"></div>
                              <div class="imgthree"></div>
                              <div class="imgfour"></div>
                              </div-->
                    
                  </div>
              </div>

          </div>
          <div class="about-info"></div>
      </section>
      <div class="footer"></div>
   </div>
</body>
</html>